/*fonte*/
body{
	font-family: 'League Spartan', sans-serif;
}

/*cabeçalho */
header{
	background: #BBBBBB;
	padding: 20px 0 0 0;
	flex-direction: row;

}

header h1{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 50px;
	color: #01003e;
}
.ulmenu {
	
	padding: 2em 0 0.5em 1em;
	padding-bottom: ;

}


nav li{
	display: inline;
	margin: 0 0 0 0.5em;

}

nav a{
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover{
	color: #C78C19;
	text-decoration: underline;
}
/*Fim do cabeçalho*/

/*início do corpo*/

main{
	border-bottom: 0.2em solid rgb(35, 35, 35, 0.7);
	border-top: 0.2em solid rgb(35, 35, 35, 0.7);
	flex-direction: column;
	width: 100%;
	background: linear-gradient(180deg, #bbbbbb 50%, #232323 100%);
}

article{
	align-content: start;
	text-align: center;
	padding: 1.5em;
	flex-direction: column;
    font-weight: bold;
	background-color: lightgrey;
}

article h1{
	font-size: 2em;
	font-weight: bold;
	padding: 1em;
}

section h1{
	font-size: 2em;
	font-weight: bold;
	padding: 1em;
}

section p{
	font-size: 1em;
	padding-bottom: 1em;
}

.parte1{
	text-align: center;
	padding: 1em;
	flex-direction: column;
    font-weight: bold;
	background-color: grey;
}

.parte2{
	text-align: center;
	padding: 5em;
	flex-direction: column;
    font-weight: bold;
	background-color: darkgrey;
}

.canvas{
	border:1px solid #000000;
}


#exemplo1{
	flex-direction: row;
	height: 90%;
}

/*Fim do corpo*/

/*Início do rodapé*/

footer{

	text-align: center;
	background: #232323;
	padding: 40px 0;
}

.copy{
	color: #FFFFFF;
	font-size: 11px;
	margin: 20px 0 0;
}