/*fonte*/
body{
	font-family: 'League Spartan', sans-serif;
}

/*cabeçalho */
header{
	background: #BBBBBB;
	padding: 20px 0 0 0;
	flex-direction: row;

}

header h1{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 50px;
	color: #01003e;
}
.ulmenu {
	
	padding: 1em;
	padding-bottom: 0;

}


nav li{
	display: inline;
	margin: 0 0 0 0.5em;

}

nav a{
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover{
	color: #C78C19;
	text-decoration: underline;
}
/*Fim do cabeçalho*/

/*início do corpo*/

main{
	border-bottom: 0.2em solid rgb(35, 35, 35, 0.7);
	border-top: 0.2em solid rgb(35, 35, 35, 0.7);
	flex-direction: column;
	width: 100%;
	background: linear-gradient(180deg, #bbbbbb 50%, #232323 100%);
}

article{
	align-content: start;
	text-align: center;
	padding: 1.5em;
	flex-direction: column;
    font-weight: bold;
	background-color: lightgrey;
}

article h1{
	font-size: 2em;
	font-weight: bold;
	padding: 1em;
}

section h1{
	font-size: 2em;
	font-weight: bold;
	padding: 1em;
}

section p{
	font-size: 1em;
	padding-bottom: 1em;
}

.parte1{
	text-align: center;
	padding: 1em;
	flex-direction: column;
    font-weight: bold;
	background-color: grey;
}

.parte2{
	text-align: center;
	padding: 5em;
	flex-direction: column;
    font-weight: bold;
	background-color: darkgrey;
}

.canvas{
	border:1px solid #000000;
}


#exemplo1{
	flex-direction: row;
	height: 90%;
}

.areas li{
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
	flex-direction: row;
	flex: 3;
	justify-content: center;
}

.areas-img {
	max-width:70%;
    height:auto;
}

.areas li:hover{
	border-color: #C78C19;
}

.areas li:active{
	border-color: #088C19;
}

.areas li:hover h2{
	font-size: 2.5em;
}

.areas h2{
	font-size: 2em;
	font-weight: bold;
}

.areas-descricao{
	font-size: 1.5em;
}

.areas-nivel{
	font-size: 2em;
	font-weight: bold;
	margin-top: 10px;
}

/*exemplos*/
.botao-e{
	background: #292e2e;
	border-radius: 6px;
	padding: 0.5em;
	cursor: pointer;
	border: none;
	font-size: 1.5em;
	font-weight: bold;
	color: #c6d2d2;
	transition: 400ms;
}

.botao-e:hover{
	font-size: 2em;
	box-shadow: 10px 10px 31px 0px #000000;
	opacity: 1;
}

/*Fim do corpo*/

/*Início do rodapé*/

footer{

	text-align: center;
	background: #232323;
	padding: 40px 0;
}

.copy{
	color: #FFFFFF;
	font-size: 11px;
	margin: 20px 0 0;
}

/*melhoria para celular */
@media screen and (max-width: 480px) {
    .caixa, .principal, .areas .areas h1 {
        width: auto;
    }

    .areas li {
    	width: 29%;
    	padding: 0.5em;
    }

    .areas-nivel{
	font-size: 0.8em;
	text-align: center;
	padding: 0;
	overflow: hidden;
    }

    .areas-descricao{
	font-size: 0.6em;
	text-align: center;
	}

	.areas h2{
	font-size: 1.1em;
	overflow: auto;
	font-weight: bold;
	text-align: center;
	padding: 0;
	}

	.areas li:hover h2{
	font-size: 1.3em;
	}

	.areas-img {
	max-width:100%;
    height:auto;
	}